# Problem 1 
Seaborn kütüphanesi içerisinden Titanic veri setini tanımlayınız.

In [2]:
# 1.Problemin Çözümünü Buraya Yazınız
!pip install seaborn

[notice] A new release of pip available: 22.3.1 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Collecting seaborn
  Downloading seaborn-0.12.2-py3-none-any.whl (293 kB)
     -------------------------------------- 293.3/293.3 kB 4.5 MB/s eta 0:00:00
Requirement already satisfied: numpy!=1.24.0,>=1.17 in c:\users\ferit\appdata\local\programs\python\python311\lib\site-packages (from seaborn) (1.24.3)
Collecting pandas>=0.25
  Downloading pandas-2.0.1-cp311-cp311-win_amd64.whl (10.6 MB)
     ---------------------------------------- 10.6/10.6 MB 8.2 MB/s eta 0:00:00
Collecting matplotlib!=3.6.1,>=3.1
  Downloading matplotlib-3.7.1-cp311-cp311-win_amd64.whl (7.6 MB)
     ---------------------------------------- 7.6/7.6 MB 5.0 MB/s eta 0:00:00
Collecting contourpy>=1.0.1
  Downloading contourpy-1.0.7-cp311-cp311-win_amd64.whl (162 kB)
     -------------------------------------- 163.0/163.0 kB 3.2 MB/s eta 0:00:00
Collecting cycler>=0.10
  Downloading cycler-0.11.0-py3-none-any.whl (6.4 kB)
Collecting fonttools>=4.22.0
  Downloading fonttools-4.39.4-py3-none-any.whl (1.0 MB)
     ---------------------------------------- 1.0/1.0 MB 4.0 MB/s eta 0:00:00
Collecting kiwisolver>=1.0.1
  Downloading kiwisolver-1.4.4-cp311-cp311-win_amd64.whl (55 kB)
     ---------------------------------------- 55.4/55.4 kB 3.0 MB/s eta 0:00:00
Requirement already satisfied: packaging>=20.0 in c:\users\ferit\appdata\roaming\python\python311\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (23.0)
Collecting pillow>=6.2.0
  Downloading Pillow-9.5.0-cp311-cp311-win_amd64.whl (2.5 MB)
     ---------------------------------------- 2.5/2.5 MB 3.1 MB/s eta 0:00:00
Collecting pyparsing>=2.3.1
  Downloading pyparsing-3.0.9-py3-none-any.whl (98 kB)
     ---------------------------------------- 98.3/98.3 kB 5.9 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.7 in c:\users\ferit\appdata\roaming\python\python311\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (2.8.2)
Collecting pytz>=2020.1
  Downloading pytz-2023.3-py2.py3-none-any.whl (502 kB)
     -------------------------------------- 502.3/502.3 kB 3.9 MB/s eta 0:00:00
Collecting tzdata>=2022.1
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
     -------------------------------------- 341.8/341.8 kB 3.6 MB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in c:\users\ferit\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.1->seaborn) (1.16.0)
Installing collected packages: pytz, tzdata, pyparsing, pillow, kiwisolver, fonttools, cycler, contourpy, pandas, matplotlib, seaborn
Successfully installed contourpy-1.0.7 cycler-0.11.0 fonttools-4.39.4 kiwisolver-1.4.4 matplotlib-3.7.1 pandas-2.0.1 pillow-9.5.0 pyparsing-3.0.9 pytz-2023.3 seaborn-0.12.2 tzdata-2023.3

In [4]:
import seaborn as sns

titanic_data = sns.load_dataset('titanic')

# Problem 2
Titanic veri setindeki kadın ve erkek yolcuların sayısını bulunuz.

In [5]:
# 2.Problemin Çözümünü Buraya Yazınız

num_female_passengers = (titanic_data["sex"] == "female").sum()
print("Kadın yolcu sayısı:", num_female_passengers)

num_male_passengers = (titanic_data["sex"] == "male").sum()
print("Erkek yolcu sayısı:", num_male_passengers)

Kadın yolcu sayısı: 314
Erkek yolcu sayısı: 577

# Problem 3
Her bir sutuna ait unique değerlerin sayısını bulunuz.

In [6]:
# 3.Problemin Çözümünü Buraya Yazınız

for column in titanic_data.columns:
    num_unique = titanic_data[column].nunique()
    print("Sütun '{}' için unique değer sayısı: {}".format(column, num_unique))

Sütun 'survived' için unique değer sayısı: 2
Sütun 'pclass' için unique değer sayısı: 3
Sütun 'sex' için unique değer sayısı: 2
Sütun 'age' için unique değer sayısı: 88
Sütun 'sibsp' için unique değer sayısı: 7
Sütun 'parch' için unique değer sayısı: 7
Sütun 'fare' için unique değer sayısı: 248
Sütun 'embarked' için unique değer sayısı: 3
Sütun 'class' için unique değer sayısı: 3
Sütun 'who' için unique değer sayısı: 3
Sütun 'adult_male' için unique değer sayısı: 2
Sütun 'deck' için unique değer sayısı: 7
Sütun 'embark_town' için unique değer sayısı: 3
Sütun 'alive' için unique değer sayısı: 2
Sütun 'alone' için unique değer sayısı: 2

# Problem 4
pclass değişkeninin unique değerlerinin sayısını bulunuz.

In [7]:
# 4.Problemin Çözümünü Buraya Yazınız

num_unique_pclass = titanic_data["pclass"].nunique()
print("pclass değişkeninin unique değerlerinin sayısı: {}".format(num_unique_pclass))

pclass değişkeninin unique değerlerinin sayısı: 3

# Problem 5
pclass ve parch değişkenlerinin unique değerlerinin sayısını bulunuz

In [8]:
# 5.Problemin Çözümünü Buraya Yazınız

num_unique_pclass = titanic_data["pclass"].nunique()
num_unique_parch = titanic_data["parch"].nunique()
print("pclass değişkeninin unique değerlerinin sayısı: {}".format(num_unique_pclass))
print("parch değişkeninin unique değerlerinin sayısı: {}".format(num_unique_parch))

pclass değişkeninin unique değerlerinin sayısı: 3
parch değişkeninin unique değerlerinin sayısı: 7

# Problem 6
embarked değişkeninin tipini kontrol ediniz. Tipini category olarak değiştiriniz ve tekrar kontrol ediniz.

In [9]:
# 6.Problemin Çözümünü Buraya Yazınız

print("embarked değişkeninin tipi:", titanic_data["embarked"].dtype)

titanic_data["embarked"] = titanic_data["embarked"].astype("category")

print("embarked değişkeninin tipi:", titanic_data["embarked"].dtype)

embarked değişkeninin tipi: object
embarked değişkeninin tipi: category

# Problem 7
embarked değeri C olanların tüm bilgilerini gösteriniz.

In [10]:
# 7.Problemin Çözümünü Buraya Yazınız

embarked_C = titanic_data[titanic_data["embarked"] == "C"]
print(embarked_C)

     survived  pclass     sex   age  sibsp  parch     fare embarked   class
1           1       1  female  38.0      1      0  71.2833        C   First  \
9           1       2  female  14.0      1      0  30.0708        C  Second
19          1       3  female   NaN      0      0   7.2250        C   Third
26          0       3    male   NaN      0      0   7.2250        C   Third
30          0       1    male  40.0      0      0  27.7208        C   First
..        ...     ...     ...   ...    ...    ...      ...      ...     ...
866         1       2  female  27.0      1      0  13.8583        C  Second
874         1       2  female  28.0      1      0  24.0000        C  Second
875         1       3  female  15.0      0      0   7.2250        C   Third
879         1       1  female  56.0      0      1  83.1583        C   First
889         1       1    male  26.0      0      0  30.0000        C   First

       who  adult_male deck embark_town alive  alone
1    woman       False    C   Cherbourg   yes  False
9    child       False  NaN   Cherbourg   yes  False
19   woman       False  NaN   Cherbourg   yes   True
26     man        True  NaN   Cherbourg    no   True
30     man        True  NaN   Cherbourg    no   True
..     ...         ...  ...         ...   ...    ...
866  woman       False  NaN   Cherbourg   yes  False
874  woman       False  NaN   Cherbourg   yes  False
875  child       False  NaN   Cherbourg   yes   True
879  woman       False    C   Cherbourg   yes  False
889    man        True    C   Cherbourg   yes   True

[168 rows x 15 columns]

# Problem 8
embarked değeri S olmayanların tüm bilgelerini gösteriniz.

In [11]:
# 8.Problemin Çözümünü Buraya Yazınız

embarked_not_S = titanic_data[titanic_data["embarked"] != "S"]
print(embarked_not_S)

     survived  pclass     sex   age  sibsp  parch     fare embarked   class
1           1       1  female  38.0      1      0  71.2833        C   First  \
5           0       3    male   NaN      0      0   8.4583        Q   Third
9           1       2  female  14.0      1      0  30.0708        C  Second
16          0       3    male   2.0      4      1  29.1250        Q   Third
19          1       3  female   NaN      0      0   7.2250        C   Third
..        ...     ...     ...   ...    ...    ...      ...      ...     ...
875         1       3  female  15.0      0      0   7.2250        C   Third
879         1       1  female  56.0      0      1  83.1583        C   First
885         0       3  female  39.0      0      5  29.1250        Q   Third
889         1       1    male  26.0      0      0  30.0000        C   First
890         0       3    male  32.0      0      0   7.7500        Q   Third

       who  adult_male deck embark_town alive  alone
1    woman       False    C   Cherbourg   yes  False
5      man        True  NaN  Queenstown    no   True
9    child       False  NaN   Cherbourg   yes  False
16   child       False  NaN  Queenstown    no  False
19   woman       False  NaN   Cherbourg   yes   True
..     ...         ...  ...         ...   ...    ...
875  child       False  NaN   Cherbourg   yes   True
879  woman       False    C   Cherbourg   yes  False
885  woman       False  NaN  Queenstown    no  False
889    man        True    C   Cherbourg   yes   True
890    man        True  NaN  Queenstown    no   True

[247 rows x 15 columns]

# Problem 9

Yaşı 30 dan küçük ve kadın olan yolcuların tüm bilgilerini gösteriniz.

In [12]:
# 9.Problemin Çözümünü Buraya Yazınız

young_female_passengers = titanic_data[(titanic_data["age"] < 30) & (titanic_data["sex"] == "female")]
print(young_female_passengers)

     survived  pclass     sex   age  sibsp  parch     fare embarked   class
2           1       3  female  26.0      0      0   7.9250        S   Third  \
8           1       3  female  27.0      0      2  11.1333        S   Third
9           1       2  female  14.0      1      0  30.0708        C  Second
10          1       3  female   4.0      1      1  16.7000        S   Third
14          0       3  female  14.0      0      0   7.8542        S   Third
..        ...     ...     ...   ...    ...    ...      ...      ...     ...
874         1       2  female  28.0      1      0  24.0000        C  Second
875         1       3  female  15.0      0      0   7.2250        C   Third
880         1       2  female  25.0      0      1  26.0000        S  Second
882         0       3  female  22.0      0      0  10.5167        S   Third
887         1       1  female  19.0      0      0  30.0000        S   First

       who  adult_male deck  embark_town alive  alone
2    woman       False  NaN  Southampton   yes   True
8    woman       False  NaN  Southampton   yes  False
9    child       False  NaN    Cherbourg   yes  False
10   child       False    G  Southampton   yes  False
14   child       False  NaN  Southampton    no   True
..     ...         ...  ...          ...   ...    ...
874  woman       False  NaN    Cherbourg   yes  False
875  child       False  NaN    Cherbourg   yes   True
880  woman       False  NaN  Southampton   yes  False
882  woman       False  NaN  Southampton    no   True
887  woman       False    B  Southampton   yes   True

[147 rows x 15 columns]

# Problem 10
Fare'i 500'den büyük veya yaşı 70’den büyük yolcuların bilgilerini gösteriniz

In [13]:
# 10.Problemin Çözümünü Buraya Yazınız

expensive_or_old_passengers = titanic_data[(titanic_data["fare"] > 500) | (titanic_data["age"] > 70)]
print(expensive_or_old_passengers)

     survived  pclass     sex   age  sibsp  parch      fare embarked  class
96          0       1    male  71.0      0      0   34.6542        C  First  \
116         0       3    male  70.5      0      0    7.7500        Q  Third
258         1       1  female  35.0      0      0  512.3292        C  First
493         0       1    male  71.0      0      0   49.5042        C  First
630         1       1    male  80.0      0      0   30.0000        S  First
679         1       1    male  36.0      0      1  512.3292        C  First
737         1       1    male  35.0      0      0  512.3292        C  First
851         0       3    male  74.0      0      0    7.7750        S  Third

       who  adult_male deck  embark_town alive  alone
96     man        True    A    Cherbourg    no   True
116    man        True  NaN   Queenstown    no   True
258  woman       False  NaN    Cherbourg   yes   True
493    man        True  NaN    Cherbourg    no   True
630    man        True    A  Southampton   yes   True
679    man        True    B    Cherbourg   yes  False
737    man        True    B    Cherbourg   yes   True
851    man        True  NaN  Southampton    no   True

# Problem 11
Her bir değişkendeki boş değerlerin toplamını bulunuz.

In [14]:
# 11.Problemin Çözümünü Buraya Yazınız

null_counts = titanic_data.isnull().sum()
print(null_counts)

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64